<mat-toolbar>

  <span>RayhBank</span>
    <mat-icon>favorite</mat-icon>
    <a mat-button routerLink="bancos" routerLinkActive="active">Bancos</a>
    <a mat-button routerLink="agencias" routerLinkActive="active">Agencia</a>
    <a mat-button routerLink="bancos/novo" routerLinkActive="active">Novo banco</a>
    <div class="fill-espace"></div>
  <a mat-raised-button color="secondary" routerLink="login">Login</a>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    <span class="copyright"> Financiado pelo pai ©2022</span>
  </div>
</footer>
