<mat-toolbar>
  <span>RayhBank the best</span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>
<nav class="">
  <ul>
    <li>
      <a routerLink="bancos" routerLinkActive="active">bancos</a>
    </li>
    <li>
      <a routerLink="agencia" routerLinkActive="active">agencia</a>
    </li>
    <li>
      <a routerLink="bancos/novo" routerLinkActive="active">novo banco</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div>
    <span>Todos os direitos reservados pelo Pai</span>
  </div>
</footer>
